a {
  text-decoration-line: none ;
}

/* a:hover {
  color: grey;
} */

body {
  margin: 0;
}

/*********************HOMEPAGE*************************************************/
#homepage {
  color: #f8f1f1;
  background-color: black;
}

.homepage-img {
  position: absolute;

  top: 0;
  width: 100%;
}

.homepage-container {
  text-align: center;
  margin: 5% 10%;

  position: relative;
}

.homepage-intro {
  font-family: 'Manrope', sans-serif ;
  font-weight: bold;
  font-size: 5rem;

  letter-spacing: 1px;

  position: relative ;
  top: 200px ;

}

/* Welcome Messages */
.welcome-text {
  font-size: 3rem ;
  font-weight: lighter ;

  opacity: 0.5 ;
}

.welcome-en {
  font-family: 'Manrope', sans-serif;

  position: absolute;
  top: 20px;
  left: 2%;
}

.welcome-jp {
  font-family: 'Nanum-Gothic', sans-serif;

  position: absolute;
  top: 280px;
  right: 2%;
}

.welcome-kr {
  font-family: 'Sawarabi-Gothic', sans-serif;

  position: absolute;
  top: 380px;
  left: 2%;
}


/* buttons */
.aboutme {
  position: relative ;
  top: 200px ;
}

.aboutme-txt {
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  font-weight: lighter;

  margin: 10px 0;
}

.homepage-buttons {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 0px 10px;

  width: 120px;

  border: none;
  border-radius: 12px;
  background-color: white;
  opacity: 0.5;
}

.button-link {
  color: black;
}

/* Credit */

.credit {
  color: white;

  position: absolute;
  text-align: center;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  margin: auto;
}



/********************PROFESSIONAL PAGE*****************************************/
hr {
  color: lightblue;
}


.title {
  font-size: 3rem ;
  text-align: center;
  padding: 2% 0;
}

.section-img{
  width: 200px;
}

.navbar {
  position: fixed;
  background-color: white;
  width: 100%;

  z-index: 1;
}
/* About Me */
#aboutme-professional {
  text-align: center;
  padding: 7% 0 5%;
}

.christine-pic {
  border-radius:100%
}

/* Skills */
#skills {
  text-align: center ;
  /* background-color: lightblue; */

  padding: 4% 13%;
}

.skills-entry {
  text-align: left;
  margin: 50px 0;
}

.skills-img {
  float: left;
  width: 150px;
}

.skills-text {
  text-align: left;
  display: inline-block;
  padding: 0% 5%;

  width: 480px
}


/* Projects */
#projects {
  text-align: center;
  /* background-color: pink; */

  padding: 4% 0 ;
}

#projects .btn {
  margin-top: 10px;
}

/********************PERSONAL PAGE*********************/
